@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:wght@300;600;800&display=swap');
//colors
$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlueBackground: hsl(207, 26%, 17%);
$veryDarkBlue: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//fonts
$homepageItems: 14px;
$detailPage: 16px;

$fontFamily: 'Nunito Sans', 'sans-serif';
$fontLight: 300;
$fontBold: 600;
$fontXBold: 800;
