@import '../../styles/settings.scss';

.title-bar-container {
  display: flex;

  .title-bar-wrapper {
    display: flex;
    margin: 0 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h2 {
      font-weight: $fontXBold;
    }
    .title-mode {
      cursor: pointer;
      display: flex;
      align-items: center;
      .moon {
        rotate: -30deg;
      }
      p {
        margin-left: 10px;
        font-weight: $fontBold;
      }
    }
  }
}
.dark {
  background: $darkBlue;
  color: $white;
  box-shadow: $veryDarkBlue 0px 8px 24px;
}
.light {
  background: $white;
  color: $veryDarkBlue;
  box-shadow: $darkGray 0px 2px 5px;
}
